@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Poppins, sans-serif;
}

.intro-section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('images/background1.png');
  background-size: cover;
  height: 70vh;
  border-bottom-left-radius: 110px;
  border: 1px solid white;
}

.intro-box {
  width: 90vw;
  padding-bottom: 2em;
}

h1 span {
  display: block;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-container {
  width: 80vw;
  display: flex;
  padding-top: 2rem;
  justify-content: space-between;
  align-items: flex-end;
}

h1 {
  text-align: left;
  font-weight: bold;
  margin-left: 30px;
  margin-right: 30px;
  line-height: 52px;
  font-size: xx-large;
  color: #172b4d;
}

p {
  display: flex;
  text-align: left;
  margin-left: 30px;
  margin-top: 20px;
  margin-right: 30px;
  font-size: large;
  color: #344563;
}

.social-list {
  list-style-type: none;
  display: inline-block;
  margin-left: 30px;
  margin-top: 20px;
  transition: transform 0.2s;
}

.social-list:hover {
  transform: scale(1.5);
}

h2 {
  display: flex;
  font-weight: 500;
  text-align: left;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  font-size: large;
  line-height: 24px;
  color: #384af5;
}

.logo {
  color: #384af5;
  font-size: x-large;
  font-weight: 600;
  text-decoration: none;
  transition: transform 1s;
  transform: rotate(360deg);
}

.menu {
  color: #384af5;
  padding-bottom: 10px;
}

.mobile-menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0.8;
  background-color: transparent;
  display: none;
  top: -100vh;
  left: 0;
  padding-left: 4rem;
  padding-top: 2rem;
  transition: 1s;
  font-weight: 400;
}

#popUp-view {
  z-index: 3;
  background-color: #958ef549;
  backdrop-filter: blur(5px);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
}

.popUp-card {
  width: 90%;
  height: 90vh;
  border: 1px solid white;
  background-color: white;
  border-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
}

#popUp-Close {
  width: 15px;
  right: 0;
  padding-right: 15px;
  padding-top: 15px;
  position: absolute;
  cursor: pointer;
}

#menu2 {
  display: none;
  visibility: hidden;
}

#close-toggle {
  width: 25px;
  position: absolute;
  right: 6em;
  cursor: pointer;
}

.mobile-menu ul li {
  margin: 35px 0;
  list-style: none;
}

.mobile-menu ul li a {
  text-decoration: none;
  font-size: 40px;
  color: white;
}

.social {
  margin-left: 20px;
  display: inline;
  justify-content: space-between;
}

.social1 {
  display: inline;
  justify-content: space-between;
  margin-left: 30px;
}

.work-container {
  display: grid;
  width: 100vw;
  row-gap: 15vh;
  place-items: center;
  background-color: #f6f6f9;
}

.work-item {
  display: flex;
  justify-content: start;
  width: 90vw;
  border: 2px solid rgb(197, 195, 195);
  border-radius: 20px;
  background-color: white;
  margin-bottom: 8rem;
}

.card-image {
  width: 100%;
}

.work-button {
  margin-top: 40px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.work-detail-box {
  margin-left: 30px;
  margin-top: 20px;
}

.project-button {
  border: 2px solid #384af5;
  padding: 8px;
  color: #384af5;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  transition: background-color 1s, transform 1s;
}

.work-description {
  color: #344563;
}

.chips {
  background-color: #ebebff;
  padding: 10px;
  color: #384af5;
  border-radius: 10px;
  font-weight: bold;
  display: inline-block;
  margin-right: 20px;
}

.work-box {
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.work-snapshot {
  height: 100%;
  width: 100%;
}

.work-snapshot:hover {
  transition: transform 1s;
  transform: scale(0.7);
}

.popUp-card .card-image {
  margin-top: 5px;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popUp-card .work-button {
  margin-left: 1px;
  margin-top: 20px;
}

.popUp-card .project-button {
  padding: 10px;
  font-weight: normal;
}

#work-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

#live {
  width: 15px;
}

#pop-github {
  width: 15px;
}

.popUp-card .card-image .work-snapshot {
  align-self: center;
  object-fit: cover;
}

.popUp-card .work .work-detail-box {
  margin-top: 15px;
  margin-bottom: 40px;
}

.popUp-card .work .work-detail-box .chips {
  font-size: small;
  padding: 8px;
}

.popUp-card .work-description {
  font-size: small;
}

.card-title {
  color: #344563;
  font-weight: bold;
  font-size: xx-large;
}

.work-detail {
  display: inline;
  text-align: center;
}

.work-detail::after {
  content: "\00b7";
  font-size: 1.5em;
}

.work-detail:last-child::after {
  content: none;
}

#projects h2 {
  color: #384af5;
  font-weight: bold;
  font-size: 2.5em;
}

.project-button:hover {
  color: white;
  background-color: #384af5;
}

.work-text {
  color: #344563;
  font-weight: bold;
}

.canopy {
  font-weight: bold;
  color: black;
}

.vector-img {
  height: 20px;
  width: 10px;
}

.language-box {
  margin: 20px;
  padding-top: 15px;
  padding-bottom: 25px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(202, 200, 200);
  align-items: center;
}

.language-box1 {
  margin: 30px;
  margin-top: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: white;
  border: 1px solid white;
  border-top-right-radius: 110px;
  padding-bottom: 50px;
}

.language {
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
  background-color: #f6f6f9;
  border-radius: 8px;
  padding: 10px;
}

.language-text {
  color: #344563;
  padding-top: 10px;
  padding-left: 15px;
  font-style: normal;
}

.icons {
  height: 15px;
  width: 15px;
}

.about {
  padding-top: 100px;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-image: url(images/contact-background.png);
  background-size: contain;
  border: 1px solid white;
  border-top-left-radius: 110px;
}

#contact-card-title {
  color: white;
  justify-content: center;
  font-weight: bold;
  line-height: 40px;
  font-size: 40px;
  margin-top: 150px;
  text-align: center;
}

#contact-paragraph {
  font-size: large;
  color: white;
  justify-content: center;
  text-align: center;
  font-weight: normal;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin: 30px;
  gap: 5px;
}

#error-message {
  padding-top: 20px;
  margin-left: 10px;
  display: none;
  color: red;
}

.contact-form label {
  color: transparent;
}

.form-field {
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px;
}

#contact-btn {
  justify-content: start;
  width: 120px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid white;
  border-radius: 5px;
  color: #384af5;
  transition: background-color 1s, transform 1s;
}

#contact-btn:hover {
  color: white;
  background-color: #384af5;
  border: 1px solid #384af5;
}

.contact-message {
  height: 100px;
}

@media (min-width: 420px) {
  .intro-section {
    background-image: url('images/main-desktop-background.png');
    height: 80vh;
  }

  .contact-section {
    background-image: url("images/contact-desktop-background.png");
    background-size: cover;
  }
}

@media (min-width: 750px) {
  .languages-box2 {
    padding-top: 40px;
    width: 50%;
  }

  .popUp-card .work-description {
    font-size: medium;
  }

  #menu2 {
    display: flex;
    visibility: visible;
    justify-content: space-between;
  }

  .nav-container {
    width: 90vw;
  }

  #menu2 ul {
    display: flex;
  }

  #menu2 li {
    list-style: none;
    padding: 10px;
    text-decoration: none;
  }

  #menu2 li a {
    text-decoration: none;
    color: #344563;
    font-size: 1.2em;
  }

  #menu2 li a:hover {
    color: #4472e7;
  }

  .menu {
    visibility: hidden;
    display: none;
  }

  .mobile-menu {
    visibility: hidden;
    display: none;
  }

  .language {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
    width: 8em;
  }

  #lang-list {
    display: flex;
  }

  .language-text {
    text-align: center;
  }

  .about {
    width: 50%;
    padding-top: 50px;
  }

  .about-section {
    justify-content: space-around;
    flex-direction: row;
    padding: 50px;
  }

  .contact-section {
    width: 100vw;
    background-image: url("images/contact-desktop-background.png");
    background-size: cover;
  }

  .contact {
    width: 50vw;
    place-self: center;
  }

  #contact-card-title {
    text-align: center;
  }

  .contact-form {
    width: 50vw;
    place-self: center;
    margin-bottom: 100px;
  }

  #contact-btn {
    place-self: center;
  }

  #form-button {
    display: flex;
    justify-content: center;
  }

  #error-message {
    padding-top: 20px;
    margin-left: 10px;
    display: none;
    color: red;
  }
}

@media (min-width: 1000px) {
  .work-item {
    height: min-content;
    width: 70vw;
  }

  .intro-box {
    width: 70vw;
  }

  .work-box {
    flex-direction: row;
  }

  .popUp-card .work-description {
    font-size: medium;
  }

  .box1 {
    flex-direction: row-reverse;
  }

  .text-span {
    display: inline;
  }

  #contact-btn {
    place-self: center;
  }
}

@media (min-width: 1200px) {
  .work-item {
    justify-content: center;
  }

  .work-button {
    margin-bottom: 50px;
  }

  .popUp-card .work {
    display: flex;
    flex-direction: row;
  }

  .project-button {
    margin-left: 20px;
  }

  .popUp-card .work-description {
    width: 60vw;
    font-size: x-large;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
