@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.intro-section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('images/background1.png');
  background-size: cover;
  height: 70vh;
  border-bottom-left-radius: 110px;
  border: 1px solid white;
}

.intro-box {
  width: 90vw;
  padding-bottom: 2em;
}

h1 span {
  display: block;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
}

h1 {
  text-align: left;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  margin-left: 30px;
  margin-right: 30px;
  line-height: 52px;
  font-size: xx-large;
  color: #172b4d;
}

p {
  display: flex;
  font-family: Poppins, sans-serif;
  text-align: left;
  margin-left: 30px;
  margin-top: 20px;
  margin-right: 30px;
  font-size: large;
  color: #344563;
}

.social-list {
  list-style-type: none;
  display: inline-block;
  margin-left: 30px;
  margin-top: 20px;
  transition: transform 0.2s;
}

.social-list:hover {
  transform: scale(1.5);
}

h2 {
  display: flex;
  font-weight: 500;
  font-family: Poppins, sans-serif;
  text-align: left;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  font-size: large;
  line-height: 24px;
  color: #7f8cff;
}

.logo {
  color: #7f8cff;
  font-size: x-large;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  text-decoration: none;
  transition: transform 1s;
  transform: rotate(360deg);
}

.menu {
  color: #7f8cff;
  padding-top: 10px;
}

.menu1 {
  display: none;
}

.social {
  margin-left: 20px;
  display: inline;
  justify-content: space-between;
}

.social1 {
  display: inline;
  justify-content: space-between;
  margin-left: 30px;
}

.work-container {
  display: grid;
  width: 100vw;
  row-gap: 15vh;
  place-items: center;
  background-color: #f6f6f9;
}

.work-item {
  display: flex;
  justify-content: start;
  width: 90vw;
  border: 2px solid rgb(197, 195, 195);
  border-radius: 20px;
  background-color: white;
}

.work-box {
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.work-snapshot {
  height: 100%;
  width: 100%;
}

.work-snapshot:hover {
  transition: transform 1s;
  transform: scale(0.7);
}

.card-image {
  width: 100%;
}

.card-title {
  color: #344563;
  font-weight: bold;
  line-height: 40px;
  font-size: xx-large;
  font-family: Poppins, sans-serif;
}

.work-button {
  margin-top: 40px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.work-detail {
  display: inline;
  text-align: center;
}

.work-detail::after {
  content: "\00b7";
  font-size: 1.5em;
}

.work-detail:last-child::after {
  content: none;
}

.work-detail-box {
  margin-left: 30px;
  margin-top: 20px;
}

.work-description {
  font-family: Poppins, sans-serif;
  color: #344563;
}

.chips {
  background-color: #ebebff;
  padding: 10px;
  color: #4472e7;
  border-radius: 10px;
  font-weight: bold;
  font-family: Poppins, sans-serif;
  display: inline-block;
  margin-right: 20px;
}

.project-button {
  border: 2px solid #4472e7;
  padding: 8px;
  color: #4472e7;
  text-decoration: none;
  border-radius: 8px;
  font-size: large;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  transition: background-color 1s, transform 1s;
}

.project-button:hover {
  color: white;
  background-color: #4472e7;
}

.work-text {
  font-family: Poppins, sans-serif;
  color: #7f8081;
  font-weight: bold;
}

.canopy {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  color: #344563;
}

.vector-img {
  height: 20px;
  width: 10px;
}

.language-box {
  margin: 20px;
  padding-top: 15px;
  padding-bottom: 25px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(202, 200, 200);
  align-items: center;
}

.language-box1 {
  margin: 30px;
  margin-top: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: white;
  border: 1px solid white;
  border-top-right-radius: 110px;
  padding-bottom: 50px;
}

.language {
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
  background-color: #f6f6f9;
  border-radius: 8px;
  padding: 10px;
}

.language-text {
  font-family: Poppins, sans-serif;
  color: #344563;
  padding-top: 10px;
  padding-left: 15px;
  font-style: normal;
}

.icons {
  height: 15px;
  width: 15px;
}

.about {
  padding-top: 100px;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-image: url(images/contact-background.png);
  background-size: contain;
  border: 1px solid white;
  border-top-left-radius: 110px;
}

#contact-card-title {
  color: #fcfcfc;
  justify-content: center;
  font-weight: bold;
  line-height: 40px;
  font-size: 40px;
  font-family: Poppins, sans-serif;
  margin-top: 150px;
  text-align: center;
}

#contact-paragraph {
  font-family: Poppins, sans-serif;
  font-size: large;
  color: #fcfcfc;
  justify-content: center;
  text-align: center;
  font-weight: normal;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin: 30px;
  gap: 20px;
}

.form-field {
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px;
  font-family: Poppins, sans-serif;
}

#contact-btn {
  justify-content: start;
  width: 120px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  font-family: Poppins, sans-serif;
  color: #4472e7;
}

#contact-btn:hover {
  color: white;
  background-color: #4472e7;
  border: 1px solid #4472e7;
}

.contact-message {
  height: 100px;
}

@media (min-width: 420px) {
  .intro-section {
    background-image: url('images/main-desktop-background.png');
    height: 80vh;
  }

  .menu1 {
    visibility: visible;
    display: flex;
  }

  .menu1 ul {
    display: flex;
  }

  .menu1 li {
    list-style: none;
    padding: 10px;
    text-decoration: none;
  }

  .menu1 li a {
    text-decoration: none;
    color: #344563;
    font-size: 1.2em;
  }

  .menu1 li a:hover {
    color: #4472e7;
  }

  .menu {
    display: none;
  }

  .contact-section {
    background-image: url("images/contact-desktop-background.png");
    background-size: cover;
  }
}

@media (min-width: 750px) {
  .languages-box2 {
    padding-top: 40px;
    width: 50%;
  }

  .language {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
    width: 8em;
  }

  #lang-list {
    display: flex;
  }

  .language-text {
    text-align: center;
  }

  .about {
    width: 50%;
    padding-top: 50px;
  }

  .about-section {
    justify-content: space-around;
    flex-direction: row;
    padding: 50px;
  }

  header {
    margin-left: 150px;
    margin-right: 150px;
  }

  .menu {
    visibility: hidden;
  }

  .contact-section {
    width: 100vw;
    background-image: url("images/contact-desktop-background.png");
    background-size: cover;
  }

  .contact {
    width: 50vw;
    place-self: center;
  }

  #contact-card-title {
    text-align: center;
  }

  .contact-form {
    width: 50vw;
    place-self: center;
    margin-bottom: 100px;
  }

  #contact-btn {
    place-self: center;
  }
}

@media (min-width: 1000px) {
  .work-item {
    height: min-content;
    width: 70vw;
  }

  .intro-box {
    width: 70vw;
  }

  .work-box {
    flex-direction: row;
  }

  .box1 {
    flex-direction: row-reverse;
  }

  .text-span {
    display: inline;
  }

  #contact-btn {
    place-self: center;
  }
}

@media (min-width: 1400px) {
  .work-item {
    justify-content: center;
  }

  .work-button {
    margin-bottom: 50px;
  }
}
